#external{
    color: violet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.boxmodel1{
    width: 400px;
    height: 50px;
    border: 1px solid red;
    color: skyblue;

}

.parent1{
    width: 400px;
    height: 200px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
@media(max-width:576px){
    .mainparent{
        background-color: whitesmoke;
    }
    .childheader{
        background-color: whitesmoke;
    }
    /* .mainparent{
        background-color: whitesmoke;
    } */
    .childfooter{
        background-color: whitesmoke;
    }
}
xs,sm,lg,xl,xxl
less then 576px = sx
greater then 576px = xs
equal to or greater than 768px = md
equal to or greater than 992px = lg
equal to or greater than 1200px = xl
equal to or greater than 1400px = xxl

